@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    max-width: 600px;
}


.profile-photo {
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info-about-me-container {
    padding-left: 30px;
}

.description-about-me p {
    margin: 0;
}



.card {
    position: relative;

    background-color: rgb(223, 219, 219);
    margin-bottom: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px rgb(57, 57, 112) solid;
}

.card h2 {
    margin-bottom: 40px;
    text-align: center;
}

a {
    color: rgb(16, 16, 134);
    transition: all 0.2s;
    text-decoration: none;
}

.link-container {
    height: 20px;
}


a:hover {
    color:brown;
    font-size: 1.2rem;
    text-decoration: underline;
}

a:active {
    color: blue;
}


button {
    padding: 10px 20px;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    color: cornsilk;
    cursor: pointer;
}

button:hover {
    background-color: rgb(35, 91, 124);
}

.form-row {
    display: flex;
}  

.form-row .form-group {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 50%;
}

input, 
textarea {
    display: block;
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline:none;
    font-family: inherit;
    width: 100%;
}

.inline {
    display: inline-block;
    margin: 0 20px 20px 0;
}


table {
    width: 100%;
}


table tbody tr td {
    text-align: center;
}

table tbody tr td:nth-child(2), 
table tbody tr td:nth-child(3) {
    color: rgb(116, 113, 113);
}

#message {
    margin-bottom: 30px;
}



.btn-send-message {
    display: block;
    margin-right: 0;
    margin-left:auto;
}

@media(max-width: 700px) {
    .about-me-container {
        display: block;
        text-align: center;
    }

    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
    }
}